<div class="col-xs-12">
    <div class="row">
        <h1>Latest Products</h1>
    </div>
    <hr>
    <div class="row row-margin-bottom">
        {% for product in products %}
            <a href="{{product.link}}" class="product-item">
                <div class="col-md-6  lib-item" data-category="view">
                    <div class="lib-panel">
                        <div class="row box-shadow">
                            <div class="col-md-4">
                                <img class="lib-img-show img-responsive" src="{{ product.image }} ">
                            </div>
                            <div class="col-md-8">
                                <div class="lib-row lib-header">
                                    {{ product.title }} 
                                    <div class="lib-header-seperator"></div>
                                </div>
                                <div class="lib-row lib-desc">
                                    <ul>
                                        <li><b>Price:-</b> {{product.price}} $</li>
                                        <li><b>Category:-</b> {{product.category}}</li>
                                        <li><b>Brand:-</b> {{product.brand}}</li>
                                    </ul>

                                </div>
                                {% if logged_in%}
                                    <a data-nid="{{ product.id }}" data-title="{{ product.title }}" class="btn btn-primary order-now" href="javascript:void(0)">Order Now</a>
                                {%else%}
                                    <a class="btn btn-default" href="/user/login?destination=/">Login to order</a>
                                {%endif%}
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}  
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-success" role="alert">
                    
                </div>
                <label for="quantity">Quantity</label>
                <input type="number" id="quantity" name="quantity" min="1" value="1">
                <input type="hidden" id="nid" name="nid" value="">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary execute-order">Submit Order</button>
            </div>
        </div>
    </div>
</div>